@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');


:root {
  --bg-dark: #202C37;
  --elements-dark: #2b3945;
}

* {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-dark);
  /* overflow-x: hidden; */
}

.App {
  min-height: 100vh;
}

.wrapper {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
}

.d__none {
  display: none;
}

.d__block {
  display: block;
}

.btn__container {
  margin: 40px 0;
  text-align: center;
}

.btn {
  margin: 5px 0;
  padding: 0.625rem;
  color: #fff;
  font-size: 0.9375rem;
  font-weight: 700;
  border-radius: .3125rem;
  border: none;
  background-color: var(--elements-dark);
  box-shadow: 5px 5px 15px 5px #141e27;
  cursor: pointer;
}