.header {
  width: 100%;
  background-color: var(--elements-dark);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3125rem 0.625rem;
}

.nav__btn {
  background: none;
  border: none;
  font-size: 1.3rem;
  display: none;
}

.nav__menu {
  display: flex;
  padding: 0;
}

.menu__item {
  margin: 0.375rem;
  font-size: 1.25rem;
  list-style: none;
  border-radius: 0.3125rem;
}

.menu__item a,
.menu__item .item__a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 0.5rem;
  display: block;
  cursor: pointer;
}

.menu__item:hover {
  background-color: #ffffff4d;
}

.item__icon {
  margin-left: 5px;
  transition: all 0.6s
}

.dropdown {
  position: relative;
}

.nav__subMenu {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0;
  border: 2px solid var(--bg-dark);
  background-color: var(--elements-dark);
}

.subMenu__item {
  margin: 0;
  border-radius: 0;
}

.subMenu__item:first-child {
  border-bottom: 1px solid var(--bg-dark);
}

.subMenu__item a {
  color: #fff;
  border-radius: .3125rem;
}

.dropdown:hover .nav__subMenu {
  display: block;
}

.dropdown:hover .item__icon {
  transform: rotate(180deg);
}

.input {
  margin: 0 0.5rem;
  padding: .625rem;
  font-size: 0.9375rem;
  border-radius: 0.3125rem;
  border: none;
}

.input:focus {
  box-shadow: inset 2px 2px 10px var(--bg-dark);
}

.btn {
  margin: 0 0.5rem;
  padding: 0.625rem;
  color: #fff;
  font-size: 0.9375rem;
  font-weight: 700;
  border-radius: .3125rem;
  border: none;
  background-color: var(--elements-dark);
  box-shadow: 5px 5px 15px 5px #141e27;
  cursor: pointer;
}

.btn:active {
  box-shadow: inset 1px 2px 6px 18px var(--bg-dark);
}
