.form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  color: #fff;
}

.form {
  flex-basis: 50%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 5px #141e27;
  background-color: var(--elements-dark);
}

.form__title {
  text-align: center;
  margin: 30px 0;
}

.inputs__container {
  margin: 40px 0;
}

.input__container {
  margin: 40px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.label {
  font-size: 20px;
  width: 60%;
}

.input {
  margin: .625rem 0;
  padding: .625rem;
  border-radius: .3125rem;
  border: none;
  font-size: .9375rem;
  width: 60%;
  background-color: var(--elements-dark);
  box-shadow: inset 1px 1px 6px 1px #141e27;
  color: #fff;
}

.input:focus {
  box-shadow: inset 0 0 6px 1px #919191;
}

.label__p {
  font-size: 20px;
  text-align: center;
  margin: 20px 0;
}

.inputs__container_radio {
  display: flex;
  justify-content: space-evenly;
  margin: 20px auto;
  width: 80%
}

.label__radio {
  margin: 8px;
  cursor: pointer;
}

.input__radio input{
  cursor: pointer;
}

.search__container {
  margin: 50px 0;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__label {
  margin: 0 10px;
  font-size: 20px;
}

.search__input {
  width: 30%
}

.btn__paginations {
  display: flex;
  justify-content: space-evenly;
  margin: 40px 0;
}

.btn {
  margin: 5px 0;
  padding: 0.625rem;
  color: #fff;
  font-size: 0.9375rem;
  font-weight: 700;
  border-radius: .3125rem;
  border: none;
  background-color: var(--elements-dark);
  box-shadow: 5px 5px 15px 5px #141e27;
  cursor: pointer;
}

.btn__disabled {
  color: #777777;
  background-color: #141e27;
}

.btn:active {
  box-shadow: inset 1px 2px 6px 18px #141e27;
}

.table__container {
  width: 100%;
  margin: 40px 0;
}

.table {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
}

.table__cell_head {
  padding: 20px 0;
  border-bottom: 2px solid #fff;
}

.table__cell {
  padding: 5px 0;

}

.table__cell__img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;

}

.table__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.table__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn__add {
  background: #409c40;
}

.btn__add:hover {
  background-color: #65af65;
}

.btn__add:active {
  background-color: #65af65;
  box-shadow: 1px 2px 4px 4px #65af65;
}

.keywords__container {
  margin-bottom: 40px;
}

.keywords__title {
  text-align: center;
  font-size: 24px;
  margin: 30px 0;
}

.keywords__cards {
  box-shadow: inset 1px 2px 6px 5px #141e27;
  border-radius: 5px;
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  min-height: 200px;
}

.keywords__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 160px;
  /* max-height: 39px; */
  height: 50px;
  padding: 7px 4px;
  margin: 5px 0;
  border-radius: 3px;
  background-color: var(--elements-dark);
  box-shadow: 1px 1px 5px 2px #141e27;
}

.keywords__card__img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 3px;
}

.keywords__card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.keywords__card__text {
  font-size: 13px;
  text-align: center;
  user-select: none;
}

.keywords__card__btn {
  border: none;
  background: #da4c47;
  color: #fff;
  border-radius: 3px;
  margin: 0 3px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  padding: 0 6px;
  user-select: none;
}

.keywords__card__btn:hover {
  opacity: 0.7;
}